<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.github.warren_bank.iptv_organizer">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application
    android:name=".App"
    android:icon="@drawable/launcher"
    android:theme="@style/AppTheme"
    android:label="@string/app_name"
    android:networkSecurityConfig="@xml/network_security_config"
    android:usesCleartextTraffic="true"
    android:largeHeap="true"
    android:allowBackup="false"
    android:supportsRtl="false">

    <activity
      android:name=".ui.MainSearchChannelsActivity"
      android:configChanges="colorMode|density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
      android:theme="@style/AppTheme.NoActionBar"
      android:launchMode="standard"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.ChannelsActivity"
      android:parentActivityName=".ui.MainSearchChannelsActivity"
      android:configChanges="colorMode|density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
      android:theme="@style/AppTheme.NoActionBar"
      android:launchMode="singleTop"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data android:scheme="http"/>
        <data android:scheme="https"/>

        <data android:mimeType="application/vnd.apple.mpegurl"/>
        <data android:mimeType="application/mpegurl"/>
        <data android:mimeType="audio/mpegurl"/>
        <data android:mimeType="video/mpegurl"/>
        <data android:mimeType="application/x-mpegurl"/>
        <data android:mimeType="audio/x-mpegurl"/>
        <data android:mimeType="video/x-mpegurl"/>
        <data android:mimeType="application/x-mpegURL"/>
        <data android:mimeType="audio/x-mpegURL"/>
        <data android:mimeType="video/x-mpegURL"/>

        <data android:mimeType="application/gzip"/>
        <data android:mimeType="application/x-gzip"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data android:scheme="http"/>
        <data android:scheme="https"/>
        <data android:host="*"/>

        <data android:pathPattern=".*\\.m3u"/>
        <data android:pathPattern=".*\\.M3U"/>

        <data android:pathPattern=".*\\.gz"/>
        <data android:pathPattern=".*\\.m3u.gz"/>
        <data android:pathPattern=".*\\.GZ"/>
        <data android:pathPattern=".*\\.M3U.GZ"/>
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.EpgActivity"
      android:parentActivityName=".ui.MainSearchChannelsActivity"
      android:configChanges="colorMode|density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
      android:theme="@style/AppTheme.NoActionBar"
      android:launchMode="singleTop"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data android:scheme="http"/>
        <data android:scheme="https"/>

        <data android:mimeType="application/xml"/>
        <data android:mimeType="application/xmltv"/>
        <data android:mimeType="text/xml"/>
        <data android:mimeType="text/xmltv"/>

        <data android:mimeType="application/gzip"/>
        <data android:mimeType="application/x-gzip"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data android:scheme="http"/>
        <data android:scheme="https"/>
        <data android:host="*"/>

        <data android:pathPattern=".*\\.xml"/>
        <data android:pathPattern=".*\\.xmltv"/>
        <data android:pathPattern=".*\\.XML"/>
        <data android:pathPattern=".*\\.XMLTV"/>

        <data android:pathPattern=".*\\.gz"/>
        <data android:pathPattern=".*\\.xml.gz"/>
        <data android:pathPattern=".*\\.xmltv.gz"/>
        <data android:pathPattern=".*\\.GZ"/>
        <data android:pathPattern=".*\\.XML.GZ"/>
        <data android:pathPattern=".*\\.XMLTV.GZ"/>
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.SettingsActivity"
      android:parentActivityName=".ui.MainSearchChannelsActivity"
      android:launchMode="singleTop"
      android:exported="true" />

    <activity
      android:name=".ui.ExitActivity"
      android:launchMode="standard"
      android:exported="false" />

  </application>
</manifest>
